footer {
    width: 100%;
    background-color: black;
    padding-top: 2.5rem;
    padding-bottom: 2.4rem;
    text-align: center;

    .text {
        h2 {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}